* {
  box-sizing: border-box;
}

body {
  margin: 0px;
  padding: 0px;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
main {
  width: 35%;
  display: flex;
  flex-direction: column;
  box-shadow: 2px 2px 5px black;
  border-radius: 10px;
  border: 1px solid black;
}

.header h1 {
  text-align: center;
  background-color: black;
  color: white;
  padding: 10px;
  margin: 0px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  font-size: 20px;
}
.content {
  padding: 40px 20px 10px 20px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.content label,
.content p {
  font-size: 1.3rem;
  margin: 0px;
}

.elapsedTimeDiv,
.durationDiv {
  display: flex;
  flex-direction: row;
  gap: 30px;
}

#elapsedTime {
  flex: 2;
  height: 30px;
}
#duration {
  flex: 2;
}
.content button {
  background-color: black;
  color: white;
  font-size: 16px;
  padding: 8px;
  font-weight: 800;
}

@media screen and (max-width: 1000px) {
  main {
    width: 60%;
  }
}

@media screen and (max-width: 500px) {
  main {
    width: 80%;
  }
}
